<%- include("./partials/header.ejs") %>

<div>
    <h1>Contato</h1>
    <div>
        <img class="profilePic" src="./images/ProfilePicture.JPG" alt="A picture of myself">
        <p>Olá, meu nome é Lucas Nakazato Jamur, sou desenvolvedor web com experiencia em desenvolvimento de jogos, programar é uma paixão, atualmente estou cursando pós graduação em Inteligencia Artifical aplicada pela UFPR (2025-2026)</p>
        <p>Voce pode encontrar mais do meu trabalho no 
            <a href="https://github.com/NakazatoJL" target="_blank">github</a>.</p>
    </div>
    <p>Caso deseje me contatar segue meu email: <br><a href="mailto:nakazatojl@gmail.com">nakazatojl@gmail.com</a></p>
    <p>E meu linkedin: <br><a href="https://www.linkedin.com/in/nakazatojl/" target="_blank">in/nakazatojl</a></p>
</div>

<div class="contentFill"></div>

<%- include("./partials/footer.ejs") %>