<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Pratico AutoU</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div id="content">
        <div class="navParent">
            <a href="/" id="title" class="navItem">Case Pratico AutoU</a>
            <div class="nav">
                <button class="navToggle hidden"><img src="./images/list.svg" alt="Menu icon"></button>
                <ul class="navList">
                    <li><button class="navToggle2 navItem h hidden"><img src="./images/list.svg" alt="Menu icon"></button></li>
                    <li><a href="/" class="navItem h">Inicio</a></li>
                    <li><a href="/about" class="navItem h">Sobre</a></li> 
                    <li><a href="/instructions" class="navItem h">Instruções</a></li>
                    <li><a href="/contact" class="navItem h">Contato</a></li>
                </ul>
            </div>
        </div>
    
    
