<%- include("./partials/header.ejs") %>

<div>
    <h1>Sobre</h1>
    <p>
        <b>Este projeto foi realizado como parte de uma das fases do processo seletivo da AutoU para vaga de estagiario/trainee.</b> <br><br>
        Seu objetivo é apresentar uma interface simplificada ao usuário que:<br><br>
        Recebe o envio de texto e/ou arquivos <code>.txt</code>/<code>.pdf</code><br><br>
        Retorna feedback de processamento para o usuário <br><br>
        Apresenta a classificação e sugestão de resposta após o processamento
    </p>
</div>

<div class="contentFill"></div>

<%- include("./partials/footer.ejs") %>