<% let date = new Date(); %>
<footer>2023-<%= date.getFullYear(); %> ©️ Created by Lucas Nakazato Jamur</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="./scripts/functions.js"></script>
</body>
</html>